*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    word-wrap: break-word;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color:#FAFAFA;
}
.page-header{
    height: 69px;
    width: 100%;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position:fixed;
    top: 0;
    z-index: 5;
}

.name {
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    color:#FFFFFF;
    display:flex;
    justify-content:center;
    padding-top: 13px;
}
.main-content{
    width: 100%;
}
.all-quizzes,.upper-box{
   margin-left: 11%;
} 
.upper-box{
    height: 181px;
    width: 77%;
    border-radius: 5px;
    border: 1px dashed #D4D4D4;
    background-color:#FAFAFA;
   
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    
 }
.first-line {
    width: 100%;
    margin-top:7px;
    display:flex;
    justify-content:center;
    align-items: center; 
}
.noquizzyet{
    width: 250px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: #B9B9B9;
}
.create-quizz{
    height: 40px;
    width: 151px;
    border-radius:50px;
    border: 1px dashed #EC362D;
    background-color: #FAFAFA;
    
    cursor: pointer;
}
.creating-quizz{
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: #EC362D;
}
.title{
    margin-top: 77px;
    color: #000000;
}
.all-quizzes{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    color: #000000;
}
.created-quizzes{
    margin-top: 138px;
}
.conceived-quizzes {
    display:flex;
    flex-wrap: nowrap;
}
.your-quizzes{
    height: 23px;
    width: 122px;
    margin-bottom: 13px;
}
.button-add{
    height: 30px;
    width: 31px;
    margin-left:17px;
    border-radius:500px; 
    background-color:#EC362D;
    border: #EC362D;
    margin-bottom:10px;
}
.add-vector{
    height: 13px;
    width: 13px;
    padding-top: 1px;
    padding-left:1px;
    padding-right:1px;
}
.quizzes{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
.new-quizzes{
   
    display:flex;
    flex-wrap: nowrap;
}
.quizz{
    margin-top:12px;
    margin-right: 15px;
    height: 181px;
    width: 340px;
    
}
.img-layout{
    height: 181px;
    width: 340px;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    cursor: pointer;
}

.quizzes-names{
    height: 54px;
    width: 301px;
    margin-top: -45px;
    margin-right:21px;
    margin-left:18px;
    color:#FFFFFF;

}
.new-names{
    height: 54px;
    width: 301px;
    
    margin-right:21px;
    margin-left:18px;
    color:#FFFFFF;
 
}
.typography{
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}
.quizz-screen{
    width: 100%;
    margin: 69px 0px 69px 0px;
    background-color:#FAFAFA;
    position: absolute;
    top: 0;
    z-index: 2;
}
.title-quizz{
    width: 100%;
    height: 227px;
    font-size: 39px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 45.7px;
    position: relative;
    overflow: hidden;
}
.title-quizz img {
    width: 100%;
}
.shadow{
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.6;
    position: absolute;
    top:0;
    z-index: 3;
}
.title-quizz p{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-quizz{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-quizz{
    width: 759px;
    height: 676px;
    padding: 28px 35px 28px 35px;
    margin: 42px 0px 0px 0px;
    box-shadow: 0px 0px 10px 0px #0000000D;
    background-color: #FFFFFF;
}
.question{
    width: 100%;
    height: 137.99px;

    font-size: 23px;
    font-weight: 700;
    color: #FFFFFF;

    background-color: #434CA0;

    display: flex;
    justify-content: center;
    align-items: center;
}
.options{
    width: 100%;

    margin-top: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.answer{
    width: 330px;
    height: 217px;

    margin: 0px 0px 10px 0px;
}
.answer:hover, .back-home:hover, .restart:hover{
    cursor: pointer;
}
.answer img{
    width: 100%;
    height: 175px;
}
.answer p{
    font-size: 20px;
    font-weight: 700;
    color: #000000;

    margin-top: 8px;
}
.box-result{
    width: 759px;
    height: 430px;

    padding: 18px 18px 18px 18px;
    margin: 42px 0px 0px 0px;

    box-shadow: 0px 0px 10px 0px #0000000D;


    background-color: #FFFFFF;
}
.result{
    width: 100%;
    height: 99px;

    font-size: 23px;
    font-weight: 700;
    color: #FFFFFF;

    background-color: #EC362D;

    display: flex;
    justify-content: center;
    align-items: center;
}
.result-details{
    display: flex;
    justify-content: space-between;

    margin-top: 18px;
}
.result-details img{
    width: 364px;
    height: 273px;
}
.result-details div{
    width: 328px;
    height: 250px;

    font-size: 19px;
    font-weight: 700;
    color: #000000;
}
.restart{
    width: 260px;
    height: 52px;

    border-radius: 15px;
    border: 0;

    background-color: #EC362D;

    font-size: 21px;
    font-weight: 400;
    color: #FFFFFF;

    margin-top: 50px;
}
.area-buttons{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.back-home{
    width: 219px;
    height: 44px;

    font-size: 21px;
    font-weight: 400;
    color: #818181;

    margin-top: 25px;

    text-align: center;
}
.footer{
    height:211px;
}

.minimize{
    display: none;
    
}
.check div{
    opacity: 0.3;
}
.options .selected{
    opacity: 1;
}
.check .wrong p{
    color: #FF4B4B;

}
.check .right p{
    color: #009C22;
}
@media (max-width:1100px) {
    .title-quizz{
        height: 142px;
    
        font-size: 19px;
    
        line-height: 22.27px;
    }
    .box-quizz{
        width: 375px;
        height: 436px;
    
        padding: 18px 18px 18px 18px;
        margin: 24px 0px 0px 0px;
    }    
    .question{
        width: 100%;
        height: 89px;
    
        font-size: 19px;
    }
    .options{
        margin-top: 13px;        
    }
    .answer{
        width: 163px;
        height: 140px;
    }
    .answer img{
        height: 113px;
    }
    .answer p{
        font-size: 13px;
  
        margin-top: 5px;
    }
    .box-result{
        width: 375px;
        height: 500px;
    
        margin: 24px 0px 0px 0px;

    }
    .result{
        font-size: 19px;
    }
    .result-details{
        margin-top: 9px;
        flex-direction: column;
        gap: 9px;
    }
    .result-details img{
        width: 340px;
        height: 255px;
    }
    .result-details div{
        width: 340px;
        height: 96px;
    
        font-size: 17px;
    }
    .restart{
        width: 220px;
        height: 44px;
    
        background-color: #EC362D;
    
        font-size: 18px;
    
        margin-top: 34px;
    }
    .back-home{
        font-size: 18px;
       
        margin-top: 8px;
    }

}



