*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color:#FAFAFA;
}
.page-header{
    height: 69px;
    width: 100%;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position:fixed;
    top: 0;
    z-index: 5;
}

.name {
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    color:#FFFFFF;
    display:flex;
    justify-content:center;
    padding-top: 13px;
}
.main-content{
    width: 100%;
}
.main-screen{
    margin-left: 194px;
}
.upper-box{
    height: 181px;
    width: 1051px;
    border-radius: 5px;
    border: 1px dashed #D4D4D4;
    background-color:#FAFAFA;
    margin-top: 144px;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    
 }
.first-line {
    width: 100%;
    margin-top:7px;
    display:flex;
    justify-content:center;
    align-items: center; 
}
.noquizzyet{
    width: 250px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: #B9B9B9;
}
.create-quizz{
    height: 40px;
    width: 151px;
    border-radius:50px;
    border: 1px dashed #EC362D;
    background-color: #FAFAFA;
}
.creating-quizz{
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: #EC362D;
}
.title{
    margin-top: 77px;
    color: #000000;
}
.all-quizzes{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    color: #000000;
}
.created-quizzes{
    margin-top: 138px;
}
.conceived-quizzes {
    display:flex;
    flex-wrap: nowrap;
}
.your-quizzes{
    height: 23px;
    width: 122px;
    margin-bottom: 13px;
}
.button-add{
    height: 30px;
    width: 31px;
    margin-left:17px;
    border-radius:500px; 
    background-color:#EC362D;
    border: #EC362D;
    margin-bottom:10px;
}
.add-vector{
    height: 13px;
    width: 13px;
    left: 342px;
    top: 142px;
}
.quizzes{
    display:flex;
    flex-wrap: nowrap;
}
.new-quizzes{
   
    display:flex;
    flex-wrap: nowrap;
}
.quizz{
    margin-top:12px;
    margin-right: 15px;
    height: 181px;
    width: 340px;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
}
.quizzes-names{
    height: 54px;
    width: 301px;
    left: 36px;
    top: 473px;
}
.typography{
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}
.quizz-screen{
    width: 100%;
    margin: 69px 0px 69px 0px;
    background-color:#FAFAFA;
    position: absolute;
    top: 0;
    z-index: 2;
}
.title-quizz{
    width: 100%;
    height: 227px;
    font-size: 39px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 45.7px;
    position: relative;
}
.title-quizz img {
    width: 100%;
    height: 100%;
}
.shadow{
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.6;
    position: absolute;
    top:0;
    z-index: 3;
}
.title-quizz p{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-quizz{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 85px;
}
.box-quizz{
    width: 759px;
    height: 676px;
    padding: 28px 35px 28px 35px;
    margin: 42px 0px 0px 0px;
    box-shadow: 0px 0px 10px 0px #0000000D;
    background-color: #FFFFFF;
}
.question{
    width: 100%;
    height: 137.99px;

    font-size: 23px;
    font-weight: 700;
    color: #FFFFFF;

    background-color: #434CA0;

    display: flex;
    justify-content: center;
    align-items: center;
}
.options{
    width: 100%;

    margin-top: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.answer{
    width: 330px;
    height: 217px;

    margin: 0px 0px 10px 0px;
}
.answer:hover, .back-home:hover, .restart:hover{
    cursor: pointer;
}
.answer img{
    width: 100%;
    height: 175px;
}
.answer p{
    font-size: 20px;
    font-weight: 700;
    color: #000000;

    margin-top: 8px;
}
.box-result{
    width: 759px;
    height: 430px;

    padding: 18px 18px 18px 18px;
    margin: 42px 0px 0px 0px;

    box-shadow: 0px 0px 10px 0px #0000000D;


    background-color: #FFFFFF;
}
.result{
    width: 100%;
    height: 99px;

    font-size: 23px;
    font-weight: 700;
    color: #FFFFFF;

    background-color: #EC362D;

    display: flex;
    justify-content: center;
    align-items: center;
}
.result-details{
    display: flex;
    justify-content: space-between;

    margin-top: 18px;
}
.result-details img{
    width: 364px;
    height: 273px;
}
.result-details div{
    width: 328px;
    height: 250px;

    font-size: 19px;
    font-weight: 700;
    color: #000000;
}
.restart{
    width: 260px;
    height: 52px;

    border-radius: 15px;
    border: 0;

    background-color: #EC362D;

    font-size: 21px;
    font-weight: 400;
    color: #FFFFFF;

    margin-top: 50px;
}
.back-home{
    width: 219px;
    height: 44px;

    font-size: 21px;
    font-weight: 400;
    color: #818181;

    margin-top: 25px;

    text-align: center;
}
.footer{
    height:211px;
}

.minimize{
    display: none;
    
}
.check div{
    opacity: 0.3;
}
.options .selected{
    opacity: 1;
}
.options .wrong p{
    color: #FF4B4B;

}
.options .right p{
    color: #009C22;
}
@media (max-width:759px) {
    .title-quizz{
        height: 142px;
    
        font-size: 19px;
    
        line-height: 22.27px;
    }
    .box-quizz{
        width: 375px;
        height: 436px;
    
        padding: 18px 18px 18px 18px;
        margin: 24px 0px 0px 0px;
    }    
    .question{
        width: 100%;
        height: 89px;
    
        font-size: 19px;
    }
    .options{
        margin-top: 13px;        
    }
    .answer{
        width: 163px;
        height: 140px;
    }
    .answer img{
        height: 113px;
    }
    .answer p{
        font-size: 13px;
  
        margin-top: 5px;
    }
    .box-result{
        width: 375px;
        height: 500px;
    
        margin: 24px 0px 0px 0px;

    }
    .result{
        font-size: 19px;
    }
    .result-details{
        margin-top: 9px;
        flex-direction: column;
        gap: 9px;
    }
    .result-details img{
        width: 340px;
        height: 255px;
    }
    .result-details div{
        width: 340px;
        height: 96px;
    
        font-size: 17px;
    }
    .restart{
        width: 220px;
        height: 44px;
    
        background-color: #EC362D;
    
        font-size: 18px;
    
        margin-top: 34px;
    }
    .back-home{
        font-size: 18px;
       
        margin-top: 8px;
    }

}

.quizz-title{
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 23px;
    font-weight: 700;

    padding-top: 84px;

    margin-bottom: 27px;
}

.input-infos{
    width: 50%;

    background-color: white;

    display: flex;
    flex-direction: column;
   
    justify-content: center;

    margin: 0 auto;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 20px 0;
}
.input-infos input{
    all:unset;
    width: 94%;
    height: 46px;

    margin: 0px auto 9px auto;

    border: 1px solid #D1D1D1;
    border-radius: 5px;

}
::-webkit-input-placeholder {
    font-style: italic;
    font-family: 'Roboto';
    font-size: 19px;
    font-weight: 400;

    color: #BABABA;

    padding-left: 24px;
}
.input-infos input:focus {
    border: 1px solid #181616;
  }
.button-submit{
    all: unset;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 50px auto;
   

    font-size: 21px;
    font-weight: 400;
    
    width: 30%;

    height:54px;

    border-radius: 15px;
    
    background-color: #EC362D;
    color: #FFF5F4;

    cursor: pointer;
}

.questions-title{
    font-size: 23px;
    font-weight: 700;

    margin:15px 20px;
    display: flex;
}
.uncorrect-answer{
    margin-bottom: 32px;
}
.pergunta{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 76px;

    padding:0 10px 0 20px;

    margin: 22px auto 0px auto;

    background-color: white;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);

    cursor: pointer;

    width: 50%;
}
.pergunta img{
    width: 20px;
    height: 20px;
}
.pergunta p{
    font-size: 20px;
    font-weight: 700;
}
.done-quizz{
   display: flex;
   justify-content: center;
}
.done-quizz img{
    width: 35%;
}

@media(max-width: 1100px){
    ::-webkit-input-placeholder {
        font-size: 15px;
        padding-left: 5px;
    }
    .button-submit{
        width: 60%;
        margin: 29px auto;
    }
    .input-infos{
        width: 80%;
    }
    .pergunta{
        width: 80%;
        height: 54px;
    }
    input.oi{
        height: 100px;
    }

}
@media(max-width: 470px){
    .button-submit{
       font-size: 22px;
       width: 90%;
       height: 44px;
    }
    .input-infos{
        width: 100%;
    }
    .pergunta{
        width: 100%;
    }
}
@media(max-width: 330px){
    .button-submit{
       font-size: 14px;
    }
    .input-infos{
        width: 100%;
    }
    .pergunta{
        height:44px;
    }
}